# ── SERVER ──
PORT=3000
NODE_ENV=production

# ── SECURITY ──
JWT_SECRET=SpaceLogg2025_SuperSecretKey_xK9mP2

# ── DATABASE ──
DB_PATH=./db/spacelogg.db

# ── APP URL ──
APP_URL=https://spacelogg-production.up.railway.app/

# ── CLOUDINARY (image uploads) ──
CLOUDINARY_URL=cloudinary://561263999682652:5UGwTN0J3LPPiV2tCH2ystVIQF0@dctfgfboq


# ── RESEND (email) ──
RESEND_API_KEY=re_2rfAYiZr_dYERnmE9d8Gqfbqia4vYpcWW
RESEND_FROM=SpaceLogg <onboarding@resend.dev>

# ── AUTO-CREATE ADMIN ON FIRST RUN ──
ADMIN_EMAIL=mercy09203@gmail.com
ADMIN_PASSWORD=Myadmin1
ADMIN_NAME=Admin





